
.menu{
	list-style-type: none;
	width: 180px;
	margin: 0 auto;
}
.menu-item a{
	text-decoration: none;
	border: 1px solid grey;
	background-color: grey;
	color: white;
	display: block;
	padding: 0 5px;
	line-height: 25px;
	margin-top: 5px;
}
.menu-item a:hover{
	color: grey;
	background-color: white;
}